body {
    line-height: 120%;
    font-height: 120%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", Charcoal, sans-serif;
    color: #333;
    text-align: left;
    margin: 0px 20% 0px 20%;
}

nav {
    border-bottom: 2px solid black;
    background: black;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 12px 10px 12px 10px;
    text-align: right;
}

div#logo a {
    text-align: left;
    color: white;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
    font-size: 200%;
    font-weight: normal;
    font-style: normal;
}

h2, h3, h4, h5, h6 {
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
  color: #222;
  font-size: 100%;
  font-weight: bold;
}

h2 {
  font-size: 150%;
  font-weight: bold;
}

h3 {
  font-size: 150%;
  font-weight: normal;
}

pre {
  padding: 0.25em 0em 0.25em 0em;
  margin: 0em 1em 0em 1em;
  overflow: auto;
  font-family: "Courier New", Courier, "Andale Mono", monospace;
  line-height: 100%;
}

code {
  font-family: "Courier New", Courier, "Andale Mono", monospace;
  display: block;
  padding: 0em 1em;
}

a {
  color: #684;
}
  
a:hover {
  color: blue;
}



table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

th {
  font-style: bold;
  background: #EEE;
}

header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
